<!-- templates/admin/yourapp/modelname/change_form.html -->
{% extends "admin/change_form.html" %}
{% load filters %}
{% load static %}
{% load jazzmin %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        .remove {
            color: red;
            font-size: 0.7rem;
            position: absolute;
            top: 0.3rem;
            cursor: pointer;
            right: 0.3rem;
        }
        .remove:hover {
            color: darkred;
        }
        .list-item {
            border: 0px ;
            border-radius: 0px;
            position: relative;
        }
        .list-item:hover {
            background-color: #f0f0f0;
        }
        .items-container {
            border: 1px solid black;
             border-radius: 1rem;
              row-gap: 1rem;
              max-width: 50vw;
        }
    </style>

    <!-- Add your custom CSS here -->
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {{ media }}
{% endblock %}
{% block content %}
    {{ block.super }}

{% endblock %}

{% block extrajs %}
{{block.super}}
    <script> let change = true; </script>
    <script type="text/javascript" src = "{% static 'assets/js/form_content.js' %}" > 
    </script>
    <script>
        let accept = "{% url 'workshops:accept_workshop' %}"
        let checkAccept = "{% url 'workshops:accept_workshop' %}"
    </script>
    <script src = "{% static 'assets/js/workshopRegistration.js' %}">
    </script>
{% endblock %}
